branches:
  except:
    - gh-pages
language: perl
env:
  - PERL_USE_UNSAFE_INC=0
perl:
  - "5.38"
  - "5.36"
  - "5.34"
  - "5.32"
  - "5.30"
  - "5.28"
  - "5.26"
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18" # IO::Tty is missing on the Travis server or cannot be installed?
  - "5.16"
  - "5.14"
